[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.20.1"
pandas = "~=1.2.2"
plotly = "~=4.14.3"
earthengine-api = "~=0.1.252"

[dev-packages]
ipykernel = "*"
nbformat = ">=4.2.0"
pipenv-setup = "*"

[requires]
python_version = "3.8"
