[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
earthengine-api = ">=0.1.230"
ipykernel = "*"
nbformat = ">=4.2.0"
numpy = "*"
pandas = "*"
plotly = "*"

[dev-packages]
bumpversion = "*"
twine = "*"

[requires]
python_version = "3.8"
