[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
earthengine-api = "*"
numpy = "*"
pandas = "*"
plotly = "*"
nbformat = "*"

[requires]
python_version = "3.7"
